{% load staticfiles %}
<!DOCTYPE HTML>
<html>


    <title>鱼书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'picture/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">




<body>
{#登录注册搜索开始#}
    <div class="nav-self">
        <div style="padding-top: inherit" class="container">
            {#搜索跳转#}
            <form class="form-inline" action="/book/search" method="get">
                <div class="flex-vertical-center-height">
                    <div class="col-md-2  col-xs-3 logo">
                        <img src="{% static 'picture/logo-yushu.png' %}"/>
                    </div>
                    <div style="margin-left:20px;" class="col-md-7  col-xs-6 input-group">
                        <input name="q" type="text" placeholder="ISBN、图书名称"
                               class="form-control input-sm">
                        <span class="input-group-btn">
                            <input class="btn btn-search" type="submit" value="搜索"/>
                        </span>
                    </div>
                    <div class="col-md-3 col-xs-3" style="padding-right: 0">




                        <div class="container-height flex-vertical-center login-box">
                            
                                <div style="height: 100%; width: 100%;display: flex; justify-content: flex-end; align-items: center">
                                    {% if username %}
                                    <a href="/personal">{{ username }}</a>
                                    <a class="btn-end" href="/logout">注销</a>
                                    {% else %}
                                    <a href="{% url 'App:index_login' %}">登录</a>
                                    <a class="btn-end" href="{% url 'App:index_register' %}">注册</a>
                                    {% endif %}
                                </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{#登录注册结束#}
{#导航栏开始#}
    <div class="sub-nav flex-vertical-center">
        <div class="container" style="width: 100%">
            <div class="row">
                <div class="col-md-2 col-xs-3 col-md-offset-2">
                    <a id="recent" href="/"
                       class="flex-vertical-hor-center">
                        <img src="picture/upload.png"/>
                        <span>最近上传</span>
                    </a>
                </div>
                <div class="col-md-2 col-xs-3">
                    <a id="gifts" href="/my/gifts"
                       class="flex-vertical-hor-center">
                        <img src="picture/gift.png"/>
                        <span>赠送清单</span>
                    </a>
                </div>
                <div class="col-md-2 col-xs-3">
                    <a id="wishes" href="/my/wish"
                       class="flex-vertical-hor-center">
                        <img src="picture/wish.png"/>
                        <span>心愿清单</span>
                    </a>
                </div>
                <div class="col-md-2 col-xs-3">
                    <a id="pending" href="/pending"
                       class="flex-vertical-hor-center">
                        <img src="picture/fish.png"/>
                        <span>鱼漂</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{#导航栏结束#}


<div class='container'>
    <div class="row">

    </div>
    
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>

    <div id="books" class="row">
            {#图书展示开始#}
            <div class="col-sm-4 book-container">
                <a href="/book/9787508044019/detail" class="link">
                    <div class="col-md-4 no-padding">
                        <img class="book-img cssshadow" src="../static/picture/s3403254.jpg">
                    </div>
                    <div style="margin-left: 0;" class="col-md-8 flex-vertical book-info">
                        <span class="title">遇见未知的自己</span>
                        <div class="description-font"><span>作者：</span><span>张德芬</span>
                        </div>
                        <span class="summary description-font">故事从“冬天的雨夜，在荒郊野外的山区，一个没有手机、没有汽油的孤单女人”开始。\n若菱，自名校毕业，拥有令人羡慕的工作，但心中却不时的自问：为什么我不能拥有想要的生活？为什么我不快乐？我该如何当自己生命的主人？ 在一个下雨的冬夜，若菱巧遇一名智慧老者，在与智者数度交谈的过程中，她渐渐填补不快乐、挫败的心灵缺口，寻回最真实勇敢的自我…… 你会不会担心和若菱一样，让身体的疲惫失控于华丽的业绩之中？ 你是否也想遇见在你心中的智慧老者，穿越心事的重重黑纱，遇见全新的自己？</span>
                    </div>
                </a>
            </div>

            {#图书展示结束#}

        
    </div>

</div>



<div id="footer" class="flex-hor-center">
    <span>© 2017-2020 yushu.im created by 七月</span>
</div>
</body>


    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        $SCRIPT_ROOT = "";
    </script>


</html>